---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?type=private
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4f3c668ffbeffe95739bdface213f15d6185727da38f84e70ed026afb5d56dfe"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 002fbbd3f5f7522b0760
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1609433126'
      X-Ratelimit-Used:
      - '6'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":290062950,"node_id":"MDEwOlJlcG9zaXRvcnkyOTAwNjI5NTA=","name":"battleship","full_name":"jdcarey128/battleship","private":true,"owner":{"login":"jdcarey128","id":59512644,"node_id":"MDQ6VXNlcjU5NTEyNjQ0","avatar_url":"https://avatars3.githubusercontent.com/u/59512644?v=4","gravatar_id":"","url":"https://api.github.com/users/jdcarey128","html_url":"https://github.com/jdcarey128","followers_url":"https://api.github.com/users/jdcarey128/followers","following_url":"https://api.github.com/users/jdcarey128/following{/other_user}","gists_url":"https://api.github.com/users/jdcarey128/gists{/gist_id}","starred_url":"https://api.github.com/users/jdcarey128/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jdcarey128/subscriptions","organizations_url":"https://api.github.com/users/jdcarey128/orgs","repos_url":"https://api.github.com/users/jdcarey128/repos","events_url":"https://api.github.com/users/jdcarey128/events{/privacy}","received_events_url":"https://api.github.com/users/jdcarey128/received_events","type":"User","site_admin":false},"html_url":"https://github.com/jdcarey128/battleship","description":null,"fork":false,"url":"https://api.github.com/repos/jdcarey128/battleship","forks_url":"https://api.github.com/repos/jdcarey128/battleship/forks","keys_url":"https://api.github.com/repos/jdcarey128/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jdcarey128/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jdcarey128/battleship/teams","hooks_url":"https://api.github.com/repos/jdcarey128/battleship/hooks","issue_events_url":"https://api.github.com/repos/jdcarey128/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/jdcarey128/battleship/events","assignees_url":"https://api.github.com/repos/jdcarey128/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/jdcarey128/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/jdcarey128/battleship/tags","blobs_url":"https://api.github.com/repos/jdcarey128/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jdcarey128/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jdcarey128/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/jdcarey128/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jdcarey128/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/jdcarey128/battleship/languages","stargazers_url":"https://api.github.com/repos/jdcarey128/battleship/stargazers","contributors_url":"https://api.github.com/repos/jdcarey128/battleship/contributors","subscribers_url":"https://api.github.com/repos/jdcarey128/battleship/subscribers","subscription_url":"https://api.github.com/repos/jdcarey128/battleship/subscription","commits_url":"https://api.github.com/repos/jdcarey128/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/jdcarey128/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/jdcarey128/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/jdcarey128/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/jdcarey128/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/jdcarey128/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jdcarey128/battleship/merges","archive_url":"https://api.github.com/repos/jdcarey128/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jdcarey128/battleship/downloads","issues_url":"https://api.github.com/repos/jdcarey128/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/jdcarey128/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/jdcarey128/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/jdcarey128/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jdcarey128/battleship/labels{/name}","releases_url":"https://api.github.com/repos/jdcarey128/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/jdcarey128/battleship/deployments","created_at":"2020-08-24T23:31:38Z","updated_at":"2020-09-02T22:22:50Z","pushed_at":"2020-09-02T22:22:47Z","git_url":"git://github.com/jdcarey128/battleship.git","ssh_url":"git@github.com:jdcarey128/battleship.git","clone_url":"https://github.com/jdcarey128/battleship.git","svn_url":"https://github.com/jdcarey128/battleship","homepage":null,"size":167,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"main","permissions":{"admin":true,"push":true,"pull":true}}]'
  recorded_at: Thu, 31 Dec 2020 15:49:47 GMT
recorded_with: VCR 6.0.0
