---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <USER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9dfef9520b1093eec6f23c247fa29a0607efac1fdb41c923aa47fe2f04c16c67"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 002fbbd3f5f7522b0760
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?type=public&page=2>; rel="next", <https://api.github.com/user/repos?type=public&page=2>;
        rel="last"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1609433126'
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":292678789,"node_id":"MDEwOlJlcG9zaXRvcnkyOTI2Nzg3ODk=","name":"futbol","full_name":"dunlapww/futbol","private":false,"owner":{"login":"dunlapww","id":53274357,"node_id":"MDQ6VXNlcjUzMjc0MzU3","avatar_url":"https://avatars1.githubusercontent.com/u/53274357?v=4","gravatar_id":"","url":"https://api.github.com/users/dunlapww","html_url":"https://github.com/dunlapww","followers_url":"https://api.github.com/users/dunlapww/followers","following_url":"https://api.github.com/users/dunlapww/following{/other_user}","gists_url":"https://api.github.com/users/dunlapww/gists{/gist_id}","starred_url":"https://api.github.com/users/dunlapww/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dunlapww/subscriptions","organizations_url":"https://api.github.com/users/dunlapww/orgs","repos_url":"https://api.github.com/users/dunlapww/repos","events_url":"https://api.github.com/users/dunlapww/events{/privacy}","received_events_url":"https://api.github.com/users/dunlapww/received_events","type":"User","site_admin":false},"html_url":"https://github.com/dunlapww/futbol","description":null,"fork":true,"url":"https://api.github.com/repos/dunlapww/futbol","forks_url":"https://api.github.com/repos/dunlapww/futbol/forks","keys_url":"https://api.github.com/repos/dunlapww/futbol/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dunlapww/futbol/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dunlapww/futbol/teams","hooks_url":"https://api.github.com/repos/dunlapww/futbol/hooks","issue_events_url":"https://api.github.com/repos/dunlapww/futbol/issues/events{/number}","events_url":"https://api.github.com/repos/dunlapww/futbol/events","assignees_url":"https://api.github.com/repos/dunlapww/futbol/assignees{/user}","branches_url":"https://api.github.com/repos/dunlapww/futbol/branches{/branch}","tags_url":"https://api.github.com/repos/dunlapww/futbol/tags","blobs_url":"https://api.github.com/repos/dunlapww/futbol/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dunlapww/futbol/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dunlapww/futbol/git/refs{/sha}","trees_url":"https://api.github.com/repos/dunlapww/futbol/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dunlapww/futbol/statuses/{sha}","languages_url":"https://api.github.com/repos/dunlapww/futbol/languages","stargazers_url":"https://api.github.com/repos/dunlapww/futbol/stargazers","contributors_url":"https://api.github.com/repos/dunlapww/futbol/contributors","subscribers_url":"https://api.github.com/repos/dunlapww/futbol/subscribers","subscription_url":"https://api.github.com/repos/dunlapww/futbol/subscription","commits_url":"https://api.github.com/repos/dunlapww/futbol/commits{/sha}","git_commits_url":"https://api.github.com/repos/dunlapww/futbol/git/commits{/sha}","comments_url":"https://api.github.com/repos/dunlapww/futbol/comments{/number}","issue_comment_url":"https://api.github.com/repos/dunlapww/futbol/issues/comments{/number}","contents_url":"https://api.github.com/repos/dunlapww/futbol/contents/{+path}","compare_url":"https://api.github.com/repos/dunlapww/futbol/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dunlapww/futbol/merges","archive_url":"https://api.github.com/repos/dunlapww/futbol/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dunlapww/futbol/downloads","issues_url":"https://api.github.com/repos/dunlapww/futbol/issues{/number}","pulls_url":"https://api.github.com/repos/dunlapww/futbol/pulls{/number}","milestones_url":"https://api.github.com/repos/dunlapww/futbol/milestones{/number}","notifications_url":"https://api.github.com/repos/dunlapww/futbol/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dunlapww/futbol/labels{/name}","releases_url":"https://api.github.com/repos/dunlapww/futbol/releases{/id}","deployments_url":"https://api.github.com/repos/dunlapww/futbol/deployments","created_at":"2020-09-03T20:59:38Z","updated_at":"2020-09-16T23:17:37Z","pushed_at":"2020-09-16T23:17:32Z","git_url":"git://github.com/dunlapww/futbol.git","ssh_url":"git@github.com:dunlapww/futbol.git","clone_url":"https://github.com/dunlapww/futbol.git","svn_url":"https://github.com/dunlapww/futbol","homepage":null,"size":699,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":1,"open_issues":0,"watchers":2,"default_branch":"main","permissions":{"admin":false,"push":true,"pull":true}},{"id":322454231,"node_id":"MDEwOlJlcG9zaXRvcnkzMjI0NTQyMzE=","name":"a-good-readme-template","full_name":"jdcarey128/a-good-readme-template","private":false,"owner":{"login":"jdcarey128","id":59512644,"node_id":"MDQ6VXNlcjU5NTEyNjQ0","avatar_url":"https://avatars3.githubusercontent.com/u/59512644?v=4","gravatar_id":"","url":"https://api.github.com/users/jdcarey128","html_url":"https://github.com/jdcarey128","followers_url":"https://api.github.com/users/jdcarey128/followers","following_url[...]
